{{ form_start(form) }}
{{ form_widget(form._token) }}

<div class="card mb-4">
    <div class="card-header d-flex justify-content-between align-items-center">
    </div>
    <div class="card-body">
        {% if form_errors(form) %}
            <div class="alert alert-danger" role="alert">
                {{ form_errors(form) }}
            </div>
        {% endif %}

        <div class="mb-3">
            <label class="form-label" for="basic-icon-default-nomProjet">Project Name</label>
            <div class="input-group input-group-merge">
                <input
                    type="text"
                    class="form-control"
                    id="basic-icon-default-nomProjet"
                    name="{{ field_name(form.nomProjet) }}"
                    value="{{ field_value(form.nomProjet) }}"
                    placeholder="{{ field_label(form.nomProjet) }}"
                    aria-describedby="basic-icon-default-nomProjet"
                />
            </div>
            <div class="text-danger mt-2">{{ form_errors(form.nomProjet) }}</div>
        </div>

        <div class="mb-3">
            <label class="form-label" for="basic-icon-default-montantReq">Required Amount</label>
            <div class="input-group input-group-merge">
                <input
                    type="text"
                    class="form-control"
                    id="basic-icon-default-montantReq"
                    name="{{ field_name(form.montantReq) }}"
                    value="{{ field_value(form.montantReq) }}"
                    placeholder="{{ field_label(form.montantReq) }}"
                    aria-describedby="basic-icon-default-montantReq"
                />
            </div>
            <div class="text-danger mt-2">{{ form_errors(form.montantReq) }}</div>
        </div>

        <div class="mb-3">
            <label class="form-label" for="basic-icon-default-longitude">Longitude</label>
            <div class="input-group input-group-merge">
                <input
                    type="text"
                    class="form-control"
                    id="basic-icon-default-longitude"
                    name="{{ field_name(form.longitude) }}"
                    value="{{ field_value(form.longitude) }}"
                    placeholder="{{ field_label(form.longitude) }}"
                    aria-describedby="basic-icon-default-longitude"
                />
            </div>
            <div class="text-danger mt-2">{{ form_errors(form.longitude) }}</div>
        </div>

        <div class="mb-3">
            <label class="form-label" for="basic-icon-default-latitude">Latitude</label>
            <div class="input-group input-group-merge">
                <input
                    type="text"
                    class="form-control"
                    id="basic-icon-default-latitude"
                    name="{{ field_name(form.latitude) }}"
                    value="{{ field_value(form.latitude) }}"
                    placeholder="{{ field_label(form.latitude) }}"
                    aria-describedby="basic-icon-default-latitude"
                />
            </div>
            <div class="text-danger mt-2">{{ form_errors(form.latitude) }}</div>
        </div>

        <div class="mb-3">
            <label class="form-label" for="basic-icon-default-typeProjet">Project Type</label>
            <select class="form-select" id="basic-icon-default-typeProjet" name="{{ field_name(form.typeProjet) }}">
                {% for choice in form.typeProjet.vars.choices %}
                    <option value="{{ choice.value }}" {% if choice.value == form.typeProjet.vars.value %} selected {% endif %}>{{ choice.label }}</option>
                {% endfor %}
            </select>
            <div class="text-danger mt-2">{{ form_errors(form.typeProjet) }}</div>
        </div>

        <div class="mb-3">
            <label class="form-label" for="basic-icon-default-description">Description</label>
            <div class="input-group input-group-merge">
                <input
                    type="text"
                    class="form-control"
                    id="basic-icon-default-description"
                    name="{{ field_name(form.description) }}"
                    value="{{ field_value(form.description) }}"
                    placeholder="{{ field_label(form.description) }}"
                    aria-describedby="basic-icon-default-description"
                />
            </div>
            <div class="text-danger mt-2">{{ form_errors(form.description) }}</div>
        </div>

        <div class="mb-3">
            <label class="form-label" for="basic-icon-default-user">User</label>
            {{ form_widget(form.user, {'attr': {'class': 'form-control'}}) }}
            <div class="text-danger mt-2">{{ form_errors(form.user) }}</div>
        </div>
<br>
        <button type="submit" class="btn btn-primary">{{ button_label|default('Send') }}</button>
        <a href="{{ path('app_projet_back_index') }}" class="btn btn-secondary">Back to list</a>
    </div>
</div>

{{ form_end(form) }}
