{% extends 'BACK/base.html.twig' %}

{% block title %}Project index{% endblock %}
{% block stylesheets %}
    <style>
        .hoverable-row:hover {
            cursor: pointer;
        }
    </style>
{% endblock %}
{% block body %}

<div class="content-wrapper">
    <div class="container-xxl flex-grow-1 container-p-y">
        <div class="row">
            <div class="col-12 col-md-8 col-lg-4 order-3 order-md-2">
                <div class="row">
                    <div class="col-6 mb-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="card-title d-flex align-items-start justify-content-between">
                                    <div class="avatar flex-shrink-0">
                                        <img src="{{ asset('BACK/assets/img/icons/unicons/chart-success.png') }}" alt="chart success" class="rounded">
                                    </div>
                                    <div class="dropdown">
                                        <button class="btn p-0" type="button" id="cardOpt1" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="bx bx-dots-vertical-rounded"></i>
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="cardOpt1">
                                            <a class="dropdown-item" href="javascript:void(0);">View More</a>
                                            <a class="dropdown-item" href="javascript:void(0);">Delete</a>
                                        </div>
                                    </div>
                                </div>
                                <span class="d-block mb-1">Total Projects</span>
                                <h3 class="card-title text-nowrap mb-2">{{ projets|length }}</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 mb-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="card-title d-flex align-items-start justify-content-between">
                                    <div class="avatar flex-shrink-0">
                                        <img src="{{ asset('BACK/assets/img/icons/unicons/chart-success.png') }}" alt="chart success" class="rounded">
                                    </div>
                                    <div class="dropdown">
                                        <button class="btn p-0" type="button" id="cardOpt2" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="bx bx-dots-vertical-rounded"></i>
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="cardOpt2">
                                            <a class="dropdown-item" href="javascript:void(0);">View More</a>
                                            <a class="dropdown-item" href="javascript:void(0);">Delete</a>
                                        </div>
                                    </div>
                                </div>
                                <span class="d-block mb-1">Invested Projects</span>
                                <h3 class="card-title text-nowrap mb-2">{{ investedProjectCount }}</h3>
                            </div>
                        </div>
                    </div>
                    <!-- Add more summary cards here -->
                </div>
            </div>
        </div>
        
            <div class="col-md-12">
                <div class="card mb-4">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h5 class="card-title">Project List</h5>
                                                <div>
                            <input type="text" id="search" class="form-control" placeholder="Search">
                        </div>
                        {# <a href="{{ path('app_projet_back_new') }}" class="btn btn-sm btn-primary">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(219, 226, 226, 1);transform: ;msFilter:;"><path d="M15 2.013H9V9H2v6h7v6.987h6V15h7V9h-7z"></path></svg>
                        </a> #}
                    </div>
                    <div class="card-body">
                      <div class="table-responsive text-nowrap">
                             <table id="project-table" class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>IdProjet</th>
                                        <th>NomProjet</th>
                                        <th>MontantReq</th>
                                        <th>Longitude</th>
                                        <th>Latitude</th>
                                        <th>TypeProjet</th>
                                        <th>Description</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for projet in projets %}
                                      <tr class="hoverable-row" onclick="window.location='{{ path('app_projet_back_show', {'idProjet': projet.idProjet}) }}';" style="cursor: pointer;">
    <td>{{ projet.idProjet }}</td>
    <td>{{ projet.nomProjet }}</td>
    <td>{{ projet.montantReq }}</td>
    <td>{{ projet.longitude }}</td>
    <td>{{ projet.latitude }}</td>
    <td>{{ projet.typeProjet }}</td>
    <td>{{ projet.description }}</td>
    <td>
    <div class="dropdown">
        <button class="btn p-0" type="button" id="cardOpt1" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" onclick="event.stopPropagation();">
            <i class="bx bx-dots-vertical-rounded"></i>
        </button>
        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="cardOpt1">
            <a href="{{ path('app_projet_back_show', {'idProjet': projet.idProjet}) }}" class="btn btn-secondary">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(255, 253, 253, 1);transform: ;msFilter:;"><path d="M12 9a3.02 3.02 0 0 0-3 3c0 1.642 1.358 3 3 3 1.641 0 3-1.358 3-3 0-1.641-1.359-3-3-3z"></path><path d="M12 5c-7.633 0-9.927 6.617-9.948 6.684L1.946 12l.105.316C2.073 12.383 4.367 19 12 19s9.927-6.617 9.948-6.684l.106-.316-.105-.316C21.927 11.617 19.633 5 12 5zm0 12c-5.351 0-7.424-3.846-7.926-5C4.578 10.842 6.652 7 12 7c5.351 0 7.424 3.846 7.926 5-.504 1.158-2.578 5-7.926 5z"></path></svg>
            </a>
            <a href="{{ path('app_projet_back_edit', {'idProjet': projet.idProjet}) }}" class="btn btn-sm btn-primary">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(255, 253, 253, 1);transform: ;msFilter:;"><path d="m16 2.012 3 3L16.713 7.3l-3-3zM4 14v3h3l8.299-8.287-3-3zm0 6h16v2H4z"></path></svg>
            </a>
            <form method="post" action="{{ path('app_projet_back_delete', {'idProjet': projet.idProjet}) }}" style="display: inline-block;" onsubmit="return confirm('Are you sure you want to delete this item?');">
                <input type="hidden" name="_method" value="DELETE">
                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ projet.idProjet) }}">
                <button type="submit" class="btn btn-sm btn-danger">Delete</button>
            </form>
        </div>
    </div>
</td>

</tr>

                                    {% else %}
                                        <tr>
                                            <td colspan="8">No records found</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-md-6">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Percentage of Projects by Type</h5>
                        <div id="chart-container" style="height: 300px;"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card mb-2" >
                    <div class="card-body">
                        <h5 class="card-title">Project Locations</h5>
                        <div id="map-container" style="height: 300px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/highcharts@9.1.2"></script>
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"/>

<script>
document.addEventListener("DOMContentLoaded", function () {
    // Load Highcharts chart
    fetch('{{ path('app_projet_back_chart') }}')
        .then(response => response.json())
        .then(data => {
            Highcharts.chart('chart-container', {
                chart: {
                    type: 'pie'
                },
                title: {
                    text: ''
                },
                series: [{
                    name: 'Percentage',
                    data: data
                }]
            });
        });

    // Initialize Leaflet map
    var mymap = L.map('map-container');

    fetch('{{ path('app_projet_back_project_markers') }}')
        .then(response => response.json())
        .then(projects => {
            var firstProject = projects[0];
            mymap.setView([firstProject.latitude, firstProject.longitude], 5);

            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
            }).addTo(mymap);

            projects.forEach(project => {
                var marker = L.marker([project.latitude, project.longitude]).addTo(mymap);
                marker.bindPopup(`
                    <b>${project.nomProjet}</b><br>
                    <b>Longitude:</b> ${project.longitude}<br>
                    <b>Latitude:</b> ${project.latitude}<br>
                    <b>Type:</b> ${project.typeProjet}<br>
                    <b>Description:</b> ${project.description}
                `).on('mouseover', function () {
                    this.openPopup();
                }).on('mouseout', function () {
                    this.closePopup();
                });
            });
        });

    // Make the project table interactive
    $('#project-table').DataTable({
        paging: true,
        searching: true,
        ordering: true,
        info: true,
        responsive: true
    });
});
</script>

{% endblock %}
