{% extends 'BACK/base.html.twig' %}

{% block title %}Garantie index{% endblock %}

{% block body %}
    <h1>Garantie index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>IdGarantie</th>
            <th>IdCredit</th>
            <th>NatureGarantie</th>
            <th>ValeurGarantie</th>
            <th>Preuve</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for garantie in garanties %}
            <tr>
                <td>{{ garantie.idGarantie }}</td>
                <td>{{ garantie.idCredit }}</td>
                <td>{{ garantie.natureGarantie }}</td>
                <td>{{ garantie.valeurGarantie }}</td>
                <td>
                    {% if garantie.preuve %}
                        <a href="{{ asset('uploads/preuve/' ~ garantie.preuve) }}" target="_blank">{{ garantie.preuve }}</a>
                    {% else %}
                        No proof provided
                    {% endif %}
                </td>

                <td>
                    <a href="{{ path('app_garantie_show', {'idGarantie': garantie.idGarantie}) }}">Show</a>
                    <a href="{{ path('app_garantie_edit', {'idGarantie': garantie.idGarantie}) }}">Edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">No records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_garantie_new') }}">Create new</a>
{% endblock %}
