<!DOCTYPE html>

<title>Commentaire index</title>

{% block body %}
    <h1>Commentaire index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdCommentaire</th>
                <th>Contenue</th>
                <th>DateCommentaire</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for commentaire in commentaires %}
            <tr>
                <td>{{ commentaire.idCommentaire }}</td>
                <td>{{ commentaire.contenue }}</td>
                <td>{{ commentaire.dateCommentaire ? commentaire.dateCommentaire|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_commentaire_front_show', {'idCommentaire': commentaire.idCommentaire}) }}">show</a>
                    <a href="{{ path('app_commentaire_front_edit', {'idCommentaire': commentaire.idCommentaire}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_commentaire_front_new') }}">Create new</a>
{% endblock %}
