{% extends 'baseF.html.twig' %}

{% block title %}Commentaire index{% endblock %}

{% block body %}
    <h1 class="mb-4">Commentaires</h1>

    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Content</th>
                <th scope="col">Date</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for commentaire in commentaires %}
                <tr>
                    <td>{{ commentaire.idCommentaire }}</td>
                    <td>{{ commentaire.contenue }}</td>
                    <td>{{ commentaire.dateCommentaire ? commentaire.dateCommentaire|date('Y-m-d') : '' }}</td>
                    <td>
                        <a href="{{ path('app_commentaire_f_show', {'idCommentaire': commentaire.idCommentaire}) }}" class="btn btn-sm btn-info">Show</a>
                        <a href="{{ path('app_commentaire_f_edit', {'idCommentaire': commentaire.idCommentaire}) }}" class="btn btn-sm btn-warning">Edit</a>
                        <a href="{{ path('app_signale_front_new', {'commentaireId': commentaire.idCommentaire}) }}" class="btn btn-sm btn-danger">Signal</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">No records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <a href="{{ path('app_commentaire_f_new') }}" class="btn btn-primary">Create New Comment</a>
{% endblock %}
