{% extends 'baseF.html.twig' %}


{% block title %}Projects{% endblock %}

{% block body %}
<div id="pricing" class="cards-2">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="above-heading">PROJECTS</div>
                <h2 class="h2-heading">Projects Options Table</h2>
                            <div class="button-wrapper">
                <a class="btn-solid-reg page-scroll" href="{{ path('app_projet') }}">Project List</a>
            </div>
            </div>
        </div>
                        <br>

        <div class="row">
            {% for projet in projets %}
            <div class="col-lg-3"> <!-- Adjust the column size as per your requirement -->
                <div class="card">
                    <div class="card-body">
                        <div class="card-title">{{ projet.nomProjet }}</div>
                        <div class="price"><span class="value">{{ projet.montantReq }}</span></div>
                        <div class="frequency"></div>
                        <div class="divider"></div>
                        <ul class="list-unstyled li-space-lg">
                            <li class="media">
                                <i class="fas fa-check"></i>
                                <div class="media-body">{{ projet.description }}</div>
                            </li>
                            <!-- Add more project attributes as needed -->
                        </ul>
                        <div class="button-wrapper">
                            <a class="btn-solid-reg page-scroll" href="{{ path('app_investissement') }}">INVEST NOW</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
