{{ form_start(form) }}
<div class="row">
    <div class="col-md-12">
        {% if form_errors(form) %}
            <div class="alert alert-danger" role="alert">
                {{ form_errors(form) }}
            </div>
        {% endif %}
        <div class="form-group">
            {{ form_label(form.contenue, 'Content', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.contenue, {'attr': {'class': 'form-control', 'rows': 10, 'style': 'resize: vertical;', 'placeholder': 'Enter your comment'}}) }}
            {{ form_errors(form.contenue) }}
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
            {{ form_label(form.dateCommentaire, 'Comment Date', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.dateCommentaire, {'attr': {'class': 'form-control js-datepicker'}}) }}
            {{ form_errors(form.dateCommentaire) }}
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
            {{ form_label(form.idProjet, 'Project', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.idProjet, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.idProjet) }}
        </div>
    </div>
</div>
<button type="submit" class="btn btn-primary">{{ button_label|default('Save') }}</button>{{ form_end(form) }}
{{ form_end(form)}}
