{% extends 'BACK/base.html.twig' %}

{% block title %}Signale{% endblock %}

{% block body %}
    <h1>Signale</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdSignal</th>
                <td>{{ signale.idSignal }}</td>
            </tr>
            <tr>
                <th>DateSignal</th>
                <td>{{ signale.dateSignal ? signale.dateSignal|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ signale.description }}</td>
            </tr>
            <tr>
                <th>EtatSignal</th>
                <td>{{ signale.etatSignal ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_signale_index') }}">back to list</a>

    <a href="{{ path('app_signale_edit', {'idSignal': signale.idSignal}) }}">edit</a>

    {{ include('signale/_delete_form.html.twig') }}
{% endblock %}
