<!DOCTYPE html>
<html>
    <head>
    {% extends 'BACK/base.html.twig' %}

        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
       {% block body %}

    <h1> Agence Disponible</h1>

    <table class="table">
        <thead>
            <tr>
                <th>CodeAgence</th>
                <th>Adresse</th>
                <th>Codepostal</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for agence in agences %}
            <tr>
                <td>{{ agence.codeAgence }}</td>
                <td>{{ agence.adresse }}</td>
                <td>{{ agence.codepostal }}</td>
                <td>
                    <a href="{{ path('app_agence_show', {'codeAgence': agence.codeAgence}) }}">plus de details</a>
                    {#<a href="{{ path('app_agence_edit', {'codeAgence': agence.codeAgence}) }}">edit</a>#}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
    </body>
</html>
