<!DOCTYPE html>
<!-- beautify ignore:start -->
 <!--this is  pages-account-settings-account.html.twig -->
<html
  lang="en"
  class="light-style layout-menu-fixed"
  dir="ltr"
  data-theme="theme-default"
  data-assets-path="{{ asset('/public/BACK/assets/') }}"
  data-template="vertical-menu-template-free"
>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />

    <title>Profile settings - Profile | Sneat - Bootstrap 5 HTML Admin Template - Pro</title>

    <meta name="description" content="" />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{{ asset('public/BACK/assets/img/favicon/favicon.ico') }}" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />

    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="{{ asset('public/BACK/assets/vendor/fonts/boxicons.css') }}" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="{{ asset('public/BACK/assets/vendor/css/core.css') }}" class="template-customizer-core-css" />
    <link rel="stylesheet" href="{{ asset('public/BACK/assets/vendor/css/theme-default.css') }}" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="{{ asset('public/BACK/assets/css/demo.css') }}" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="{{ asset('public/BACK/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css') }}" />

    <!-- Page CSS -->

    <!-- Helpers -->
    <script src="{{ asset('public/BACK/assets/vendor/js/helpers.js') }}"></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="{{ asset('public/BACK/assets/js/config.js') }}"></script>
  </head>

  <body>
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">
        <!-- Menu -->

        <!-- todo :put your own aside -->
        <!-- / Menu -->

        <!-- Layout container -->
        <div class="layout-page">


          <!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y">
              <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Profile Settings /</span> Profile</h4>

              <div class="row">
                <div class="col-md-12">
                  <ul class="nav nav-pills flex-column flex-md-row mb-3">
                    <li class="nav-item">
                    </li>
                    <li class="nav-item">
                  
                    </li>
                    <li class="nav-item">
                    
                    </li>
                  </ul>
                  <div class="card mb-4">
                    <h5 class="card-header">Profile Details</h5>
                  
                    <hr class="my-0" />
                    <div class="card-body">
                      <form id="formAccountSettings" method="POST" onsubmit="return false">
                        <div class="row">
                          <div class="mb-3 col-md-6">
                            <label for="nom_user" class="form-label">last Name</label>
                            <input
                              class="form-control"
                              type="text"
                              id="nom_user"
                              name="nom_user"
                              value="Doe"
                              autofocus
                            />
                          </div>
                          <div class="mb-3 col-md-6">
                            <label for="prenom_user" class="form-label">first Name</label>
                            <input class="form-control" type="text" name="prenom_user" id="prenom_user" value="John" />
                          </div>
                          <div class="mb-3 col-md-6">
                            <label for="email_user" class="form-label">E-mail</label>
                            <input
                              class="form-control"
                              type="text"
                              id="email_user"
                              name="email_user"
                              value="john.doe@example.com"
                              placeholder="john.doe@example.com"
                            />
                          </div>
                          <div class="mb-3 col-md-6">
                            <label for="mdp" class="form-label">PASSWORD</label>
                            <input
                              type="text"
                              class="form-control"
                              id="mdp"
                              name="mdp"
                              value="Example12345$"
                            />
                          </div>
                          <div class="mb-3 col-md-6">
                            <label class="form-label" for="tel">Phone Number</label>
                            <div class="input-group input-group-merge">
                              <span class="input-group-text">TUNISIA (+216)</span>
                              <input
                                type="text"
                                id="tel"
                                name="tel"
                                class="form-control"
                                placeholder="02 555 111"
                              />
                            </div>
                          </div>
                      
                          <div class="mb-3 col-md-6">
                          <label for="date_naissance" class="form-label">Birthdate</label>
                            <input class="form-control" type="date" id="date_naissance" name="date_naissance" />
                          </div>
                      <div class="mb-3 col-md-6">
                      <label for="salaire" class="form-label">Salary</label>
                      <input
                      type="text"
                      class="form-control"
                      id="salaire"
                      name="salaire"
                      placeholder="Enter salary"
                      />
                      </div>

                      <div class="mb-3 col-md-6">
    <label class="form-label" for="adresse_user">Address</label>
    <select id="adresse_user" class="select2 form-select">
        <option value="">Select</option>
        <option value="ARIANA">Ariana</option>
        <option value="BEJA">Beja</option>
        <option value="BEN_AROUS">Ben Arous</option>
        <option value="BIZERTE">Bizerte</option>
        <option value="GABES">Gabes</option>
        <option value="GAFSA">Gafsa</option>
        <option value="JENDOUBA">Jendouba</option>
        <option value="KAIROUAN">Kairouan</option>
        <option value="KASSERINE">Kasserine</option>
        <option value="KEBILI">Kebili</option>
        <option value="KEF">Kef</option>
        <option value="MAHDIA">Mahdia</option>
        <option value="MANOUBA">Manouba</option>
        <option value="MEDENINE">Medenine</option>
        <option value="MONASTIR">Monastir</option>
        <option value="NABEUL">Nabeul</option>
        <option value="SFAX">Sfax</option>
        <option value="SIDI_BOUZID">Sidi Bouzid</option>
        <option value="SILIANA">Siliana</option>
        <option value="SOUSSE">Sousse</option>
        <option value="TATAOUINE">Tataouine</option>
        <option value="TOZEUR">Tozeur</option>
        <option value="TUNIS_CAPITALE">Tunis Capitale</option>
        <option value="ZAGHOUAN">Zaghouan</option>
    </select>
</div>

                 <div class="mb-3 col-md-6">
    <label for="role_user" class="form-label">Role</label>
    <select id="role_user" class="select2 form-select" disabled>
        <option value="ADMIN">Admin</option>
        <option value="CLIENT">Client</option>
    </select>
</div>
<div class="mb-3 col-md-6">
                      <label for="salaire" class="form-label">CIN</label>
                      <input
                      type="text"
                      class="form-control"
                      id="CIN"
                      name="CIN"
                      placeholder="12345678"
                      />
                      
                        </div>
                        <div class="mt-2">
                          <button type="submit" class="btn btn-primary me-2">Save changes</button>
                          <button type="reset" class="btn btn-outline-secondary">Cancel</button>
                        </div>
                      </form>
                    </div>
                    <!-- /Account -->
                  </div>
                  <div class="card">
                    <h5 class="card-header">Delete Account</h5>
                    <div class="card-body">
                      <div class="mb-3 col-12 mb-0">
                        <div class="alert alert-warning">
                          <h6 class="alert-heading fw-bold mb-1">Are you sure you want to delete your account?</h6>
                          <p class="mb-0">Once you delete your account, there is no going back. Please be certain.</p>
                        </div>
                      </div>
                      <form id="formAccountDeactivation" onsubmit="return false">
                        <div class="form-check mb-3">
                          <input
                            class="form-check-input"
                            type="checkbox"
                            name="accountActivation"
                            id="accountActivation"
                          />
                          <label class="form-check-label" for="accountActivation"
                            >I confirm my account deactivation</label
                          >
                        </div>
                        <button type="submit" class="btn btn-danger deactivate-account">Deactivate Account</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- / Content -->

            <!-- Footer -->
            <footer class="content-footer footer bg-footer-theme">
              <div class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
            
              </div>
            </footer>
            <!-- / Footer -->

            <div class="content-backdrop fade"></div>
          </div>
          <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
      </div>

      <!-- Overlay -->
      <div class="layout-overlay layout-menu-toggle"></div>
    </div>
    <!-- / Layout wrapper -->

   

    <!-- Core JS -->
    <!-- build:js public/BACK/assets/vendor/js/core.js -->
    <script src="{{ asset('public/BACK/assets/vendor/libs/jquery/jquery.js') }}"></script>
    <script src="{{ asset('public/BACK/assets/vendor/libs/popper/popper.js') }}"></script>
    <script src="{{ asset('public/BACK/assets/vendor/js/bootstrap.js') }}"></script>
    <script src="{{ asset('public/BACK/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js') }}"></script>

    <script src="{{ asset('public/BACK/assets/vendor/js/menu.js') }}"></script>
    <!-- endbuild -->

    <!-- Vendors JS -->

    <!-- Main JS -->
    <script src="{{ asset('public/BACK/assets/js/main.js') }}"></script>

    <!-- Page JS -->
    <script src="{{ asset('public/BACK/assets/js/pages-account-settings-account.js') }}"></script>

    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
  </body>
</html>
