{% extends 'BACK/base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <h1>User index</h1>

    <div class="table-responsive text-nowrap">
        <table class="table table-striped">
        <thead>
            <tr>
                <th>Id_user</th>
                <th>NomUser</th>
                <th>PrenomUser</th>
                <th>EmailUser</th>
                <th>Mdp</th>
                <th>Salaire</th>
                <th>DateNaissance</th>
                <th>Cin</th>
                <th>Tel</th>
                <th>AdresseUser</th>
                <th>RoleUser</th>
                <th>NumericCode</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.getIdUser() }}</td>
                <td>{{ user.getNomUser() }}</td>
              <td>{{ user.getPrenomUser() }}</td>
                <td>{{ user.getEmailUser() }}</td>
                <td>{{ user.getMdp() }}</td>
                <td>{{ user.getSalaire() }}</td>
                <td>{{ user.getDateNaissance() ? user.getDateNaissance()|date('Y-m-d') : '' }}</td>
                <td>{{ user.getCin() }}</td>
                <td>{{ user.getTel() }}</td>
                <td>
                    <select name="adresseUser" required>
                        <option value="" disabled selected>Select Address</option>
                        {% set adresseOptions = [
                            'ARIANA', 'BEJA', 'BEN_AROUS', 'BIZERTE', 'GABES', 'GAFSA', 'JENDOUBA',
                            'KAIROUAN', 'KASSERINE', 'KEBILI', 'KEF', 'MAHDIA', 'MANOUBA',
                            'MEDENINE', 'MONASTIR', 'NABEUL', 'SFAX', 'SIDI_BOUZID', 'SILIANA',
                            'SOUSSE', 'TATAOUINE', 'TOZEUR', 'TUNIS_CAPITALE', 'ZAGHOUAN'
                        ] %}
                        {% for option in adresseOptions %}
                            <option value="{{ option }}" {% if option == user.getAdresseUser() %}selected{% endif %}>
                                {{ option }}
                            </option>
                        {% endfor %}
                    </select>
                </td>                
                <td>{{ user.getRoleUser()}}</td>
                <td>{{ user.getNumericCode() }}</td>
                <td>
                    <a href="{{ path('app_user_show', {'id_user': user.getIdUser()}) }}">show</a>
                    <a class="dropdown-item text-danger" href="{{ path('app_user_edit', {'id_user': user.getIdUser()}) }}">edit</a>
            </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="13">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_user_new') }}">Create new</a>
    <a href="{{ path('stats_users') }}" class="btn btn-primary mb-3">View Role Statistics</a>

{% endblock %}