{# templates/reset_password.html.twig #}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-4">Password Reset</h1>
        
        {# Display form errors if any #}
        {% for flash_message in app.flashes('error') %}
            <div class="alert alert-danger" role="alert">
                {{ flash_message }}
            </div>
        {% endfor %}
        
        {# Render the form #}
        {{ form_start(form) }}
        
        <div class="form-group">
            {{ form_label(form.emailUser, 'Email') }}
            {{ form_widget(form.emailUser, {'attr': {'class': 'form-control'}}) }}
            {# Display potential validation errors for the email field #}
         
        </div>
        
        {{ form_row(form.submit, {'attr': {'class': 'btn btn-primary'}}) }}
        
        {{ form_end(form) }}
    </div>
</body>
</html>
