{% extends 'BACK/base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <h1>User</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id_user</th>
                <td>{{ user.getIdUser() }}</td>
            </tr>
            <tr>
                <th>NomUser</th>
                <td>{{ user.getNomUser() }}</td>
            </tr>
            <tr>
                <th>PrenomUser</th>
                <td>{{ user.getPrenomUser() }}</td>
                </tr>
            <tr>
                <th>EmailUser</th>
                <td>{{ user.getEmailUser() }}</td>
            </tr>
            <tr>
                <th>Mdp</th>
                <td>{{ user.getMdp() }}</td>
            </tr>
            <tr>
                <th>Salaire</th>
                <td>{{ user.getSalaire() }}</td>
            </tr>
            <tr>
                <th>DateNaissance</th>
                <td>{{ user.getDateNaissance() ? user.getDateNaissance()|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Cin</th>
                <td>{{ user.getCin() }}</td>
            </tr>
            <tr>
                <th>Tel</th>
                <td>{{ user.getTel() }}</td>
            </tr>
            <tr>
                <th>AdresseUser</th>
                <td>{{ user.getAdresseUser() }}</td>
            </tr>
            <tr>
                <th>RoleUser</th>
                <td>{{ user.getRoleUser() }}</td>
            </tr>
            <tr>
                <th>NumericCode</th>
                <td>{{ user.getNumericCode() }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_user_index') }}">back to list</a>

    <a href="{{ path('app_user_edit', {'id_user': user.getIdUser()}) }}">edit</a>

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}